body { 
  font: normal 16px/20px "Helvetica Neue", Helvetica, sans-serif;
  background-color: #087373;
  text-align: center;
}

header {
  border-bottom: 3px solid white;
  text-align: center
}

h1 {
  padding: 10px;
  color: white;
  font-size: 60px;
  text-align: center;
}

#x3dLung {
 font: normal 16px/20px "Helvetica Neue", Helvetica, sans-serif;
 color: #bc8778;
}

button {
  font-size: 24px;
  padding: 3px;
  margin-left: 5px; 
  color: white;
  background-color: #33B3B3; 
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 3px solid white;
  border-radius: 10px;
}